 *{
             font-family: "Cairo", serif;
             margin: 0;
             padding: 0;
             box-sizing: border-box;
             scroll-behavior: smooth;
             box-sizing: border-box;
        } 
        
        
        .custom-contact {
            margin-top: 20px;
        }
        .custom-icons a {
            font-size: 1.3em;
            padding: 0 12px 0 0;
        }
        .custom-h4 {
            text-decoration: none;
            color: #9B6644;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.8em;
        }
        .custom-input {
            border-color: #9B6644;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .rounded-full {
            border-radius: 50%;
        }
        .main_section{
           margin-right: 0;
        }